ion-content,
div {
  --background: linear-gradient(to bottom, #52cbd9, #52c0d9, #0a4273);
}

ion-slides {
  height: 200px;

  ion-slide {
    ion-img.img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    ion-img.img2 {
      width: 70%;
      height: 100%;
      object-fit: cover;
    }
  }
}

ion-item.inputs {
  --background: #0a4273;
  --color: #52c0d9;
  border: #52cbd9 1px solid;
  margin: 18px 0;
  border-radius: 10px;
  height: 50px;
  font-size: 16px;
}

ion-item {
  --background: #0a4273;
  --color: white;
  font-weight: 100;
  text-align: center;
  font-size: 14px;
}

ion-list {
  background: #0a4273;
}

.btn {
  border-radius: 20px;
}

ion-item.logue {
  padding: 0;
}

div.flex {
  width: 130px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

div.flex ion-button {
  width: 50px;
  height: 50px;
  --border-radius: 50%;
}
