<ion-content class="ion-padding">
  <ion-slides>
    <ion-slide>
      <ion-img
        src="https://scontent.frec34-1.fna.fbcdn.net/v/t39.30808-6/338177305_883100476091683_2950718802228665794_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=l17zayzUtacAX_42hk4&_nc_zt=23&_nc_ht=scontent.frec34-1.fna&oh=00_AfAhS1z2VmFoT7as0AOo1Bewqu2-RiDdnduFTTFsl98UyA&oe=649BACDF"
        class="img"
      ></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img
        src="https://cdn-images-1.medium.com/max/1200/1*Ylc04QI07tTv1l0KXgMXEw.jpeg"
        class="img2"
      ></ion-img>
    </ion-slide>
  </ion-slides>

  <form>
    <ion-list>
      <ion-item class="inputs">
        <ion-label>Escola Técnica</ion-label>
      </ion-item>
      <ion-item class="inputs">
        <ion-label>Estado de Pernambuco</ion-label>
      </ion-item>
      <ion-item class="inputs">
        <ion-label>Desenvolvimento de Sistemas</ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
